<div class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <img  class="pulse" src="../assets/swiss-qr.png">
    </div>

    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['/home']" >SwissQR</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a [routerLink]="['/single']" [routerLinkActive]="['active']"  [routerLinkActiveOptions]="{exact: true}">Single request</a>
        </li>
        <li>
          <a [routerLink]="['/bulk']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Bulk request</a>
        </li>
        <li>
          <a class="test"[routerLink]="['/about']" [routerLinkActive]="['active']">About</a></li>
    <!--    <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" >
            Nav 3
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li >
              <a href="">Nav 3.1</a>
            </li>
          </ul>
        </li> -->
      </ul>
      <div class="navbar-header navbar-right">
        <ul class="nav navbar-nav">
        </ul>
      </div>
      <form id="searchForm"  class="navbar-form navbar-right"  >
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search Sessions" >
        </div>
        <button class="btn btn-default" >
          Search
        </button>
      </form>
    </div>
  </div>
</div>
