<div class=form-container>

<!--
  <section>
    <div>
      <!--Testing Form-->
  <!--    <p style=font-weight:bold>Creditor</p>
      <p> account: {{invoiceData.creditorAccount}} </p>
      <p> reference: {{invoiceData.creditorReference}} </p>
      <p> name: {{invoiceData.creditorName}} </p>
      <p> street: {{invoiceData.creditorStreet}} </p>
      <p> number: {{invoiceData.creditorHouseNumber}} </p>
      <p> zip: {{invoiceData.creditorZip}} </p>
      <p> city: {{invoiceData.creditorCity}} </p>
      <p> country: {{invoiceData.creditorCountry}} </p>
      <p> info: {{invoiceData.creditorInformations}} </p>
    </div>

  </section>

  <section>
    <div>
      <p style=font-weight:bold>Debtor</p>
      <p> name: {{invoiceData.debtorName}} </p>
      <p> street: {{invoiceData.debtorStreet}} </p>
      <p> number: {{invoiceData.debtorHouseNumber}} </p>
      <p> zip: {{invoiceData.debtorZip}} </p>
      <p> city: {{invoiceData.debtorCity}} </p>
      <p> country: {{invoiceData.debtorCountry}} </p>
      <p> duedate: {{invoiceData.debtorDueDate}} </p>
      <p> currency: {{invoiceData.debtorCurrency}} </p>
      <p> amount: {{invoiceData.debtorAmount}} </p>
    </div>
  </section>
-->

  <section>
    <div>
      <ul class="left">
        <p>Creditor</p> <p >{{ invoiceData.creditorAccount }}</p>
        <li>
          <mat-form-field>
            <input matInput placeholder="Account"  [(ngModel)]="invoiceData.creditorAccount" (change)="updateInvoice()" required>
          </mat-form-field>
        </li>
        <li>
          <mat-form-field>
            <input matInput placeholder="Reference" [(ngModel)]="invoiceData.creditorReference" required>
          </mat-form-field>
        </li>
        <li>
          <mat-form-field>
            <input matInput placeholder="Name" [(ngModel)]="invoiceData.creditorName" required>
          </mat-form-field>
        </li>
        <li>
          <mat-form-field>
            <input matInput placeholder="Street" [(ngModel)]="invoiceData.creditorStreet" required>
          </mat-form-field>
        </li>
        <li>
          <mat-form-field>
            <input matInput placeholder="House number" [(ngModel)]="invoiceData.creditorHouseNumber" required>
          </mat-form-field>
        </li>
        <li>
          <mat-form-field>
            <input matInput placeholder="ZIP" [(ngModel)]="invoiceData.creditorZip" required>
          </mat-form-field>
        </li>
        <li>
          <mat-form-field>
            <input matInput placeholder="City" [(ngModel)]="invoiceData.creditorCity" required>
          </mat-form-field>
        </li>
        <li>
          <mat-form-field>
            <mat-select placeholder="Country" [(ngModel)]="invoiceData.creditorCountry" required>
              <mat-option *ngFor='let value of countrys; trackBy: index;' value="{{ value }}">
                {{ value }}</mat-option>
            </mat-select>
          </mat-form-field>
        </li>
        <li>
          <mat-form-field>
            <input matInput placeholder="Informations" [(ngModel)]="invoiceData.creditorInformations">
          </mat-form-field>
        </li>
      </ul>
    </div>
  </section>

  <section>
    <div>
      <ul class="right">
        <p>Debtor</p>
        <li>
          <mat-form-field>
            <input matInput placeholder="Name" [(ngModel)]="invoiceData.debtorName" required>
          </mat-form-field>
        </li>
        <li>
          <mat-form-field>
            <input matInput placeholder="Street" [(ngModel)]="invoiceData.debtorStreet" required>
          </mat-form-field>
        </li>
        <li>
          <mat-form-field>
            <input matInput placeholder="House number" [(ngModel)]="invoiceData.debtorHouseNumber" required>
          </mat-form-field>
        </li>
        <li>
          <mat-form-field>
            <input matInput placeholder="ZIP" [(ngModel)]="invoiceData.debtorZip" required>
          </mat-form-field>
        </li>
        <li>
          <mat-form-field>
            <input matInput placeholder="City" [(ngModel)]="invoiceData.debtorCity" required>
          </mat-form-field>
        </li>

        <li>
          <mat-form-field>
            <mat-select placeholder="Country" [(ngModel)]="invoiceData.debtorCountry" required>
              <mat-option *ngFor='let value of countrys; trackBy: index;' value="{{ value }}">
                {{ value }}</mat-option>
            </mat-select>
          </mat-form-field>
        </li>
        <li>
          <mat-form-field>
            <input matInput placeholder="Due date" [(ngModel)]="name" [(ngModel)]="invoiceData.debtorDueDate">
          </mat-form-field>
        </li>
        <li>
          <mat-form-field>
            <mat-select placeholder="Currency" [(ngModel)]="invoiceData.debtorCurrency" required>
              <mat-option *ngFor='let value of currencys; trackBy: index;' value="{{ value }}">
                {{ value }}</mat-option>
            </mat-select>
          </mat-form-field>
        </li>
        <li>
          <mat-form-field>
            <input matInput placeholder="Amount" type="number" OnlyNumber="true" [(ngModel)]="invoiceData.debtorAmount" required>
            <span matPrefix>{{currency}}&nbsp;</span>
          </mat-form-field>
        </li>
      </ul>

    </div>


  </section>
</div>
