
h1{
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

p{
  font-family: "Impact, Charcoal, sans-serif" ;
}



path {
  fill: transparent;
}
text {
  background-color: #333;
  font-family: 'Luckiest Guy', cursive;
  font-size: 25px;
  fill: #FF9800;
}
